// font-family: 'League Spartan', sans-serif;
// font-family: 'Poppins', sans-serif;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #ffffff;
	--bright-one: #d6cecb;
	--green-one: #7a8f71;
	--green-two: #6ea158;
	--green-three: #afbcaa;
	--black: #0b0f0c;
	--brown: #7c4427;
	--brown-two: #b65525;

	--first-font: 'Poppins', sans-serif;
	--second-font: 'League Spartan', sans-serif;
	--third-font: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	scrollbar-gutter: stable;
	scroll-margin-top: 80px;
}

.fixed-body {
	overflow: hidden;
}


.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.header {
	position: relative;
	height: 100dvh;
	background-image: url('../img/ConForm-Architects-2.jpeg');
	background-position: center;
	background-size: cover;
	z-index: 0;

	&__mask {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
		z-index: -5;
		background-color: rgba(0, 0, 0, 0.15);
	}
	&__content {
		padding: 0 2em;
		position: absolute;
		top: 80%;
		display: flex;
		gap: 1em;
		flex-direction: column;

		filter: blur(2px);
		transform: translateY(100%);
		opacity: 0;

		animation: showHeaderContent 3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
	}
	&__title {
		color: var(--white);
		font-size: 5rem;
		line-height: 5rem;
		letter-spacing: 2px;
		font-weight: lighter;
		text-transform: uppercase;
		font-family: var(--first-font);
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
		text-wrap: balance;
	}
	

	@keyframes showHeaderContent {
		to {
			opacity: 1;
			filter: blur(0px);
			transform: translateY(0%);
		}
	}
}

.nav {
	background-color: var(--green-one);
	&__container {
		padding: 2em 4em;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__logo {
		font-size: 2rem;
		color: var(--black);
		font-family: var(--first-font);
	}

	&__btn {
		position: relative;
		z-index: 9999;
		outline: none;
		color: var(--black);
		border: 2px solid var(--black);
		border-radius: 8px;
		background-color: transparent;
		padding: 0.25em 0.5em;

		cursor: pointer;

		display: flex;
		align-items: center;

		transition: border 0.3s;

		display: none;
	}

	&__btn:hover &__icon,
	&__btn:focus &__icon {
		color: var(--bright-one);
	}

	&__btn:hover,
	&__btn:focus {
		border: 2px solid var(--bright-one);
	}

	&__icon {
		font-size: 2.2rem;
		transition: color 0.3s;
	}

	&__list {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 3em;
		justify-content: center;
	}

	&__link {
		outline: none;
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 3rem;
		font-family: var(--first-font);
		color: var(--black);
		padding: 0.25em 0.5em;
		transition: color 0.3s;
		cursor: pointer;
	}
	&__link::after {
		position: absolute;
		content: '';
		height: 100%;
		width: 2px;
		background-color: var(--bright-one);
		left: 0;
		top: 0;
		transform-origin: center;
		transform: scale(0);
		transition: transform 0.3s;
	}

	&__link:hover,
	&__link:focus {
		color: var(--bright-one);
	}
}

.nav__link:hover.nav__link::after,
.nav__link:focus.nav__link::after {
	transform: scale(1);
}

.section {
	padding: 8em 2em;

	&__title {
		text-transform: uppercase;
		font-family: var(--second-font);
		letter-spacing: 3px;
		font-size: 4rem;
		font-weight: lighter;
		margin: 1em 0;
	}

	&__btns {
		margin: 1em 0 2em;
		display: flex;
		align-items: center;
		justify-content: space-around;
		gap: 1em;
	}

	&__btn {
		border: none;
		outline: none;
		background-color: transparent;
		text-transform: uppercase;
		font-size: 1.8rem;
		font-family: var(--second-font);
		cursor: pointer;
		text-decoration: underline;
		text-underline-offset: 0.3em;
		padding: 0.5em 0.8em;
		transition: color 0.3s;
	}
	&__btn:hover,
	&__btn:focus {
		color: var(--green-one);
}}

.about {
	padding-inline: 4em;
	padding-bottom: 12em;
	&__container {
		display: grid;
		gap: 8em;
	}

	&__item {
		height: 250px;
		position: relative;

		&--text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1em;
			border: 5px solid var(--black);
		}
	}

	&__item::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: var(--bright-one);
		z-index: -5;
	}
	&__item:nth-child(1)::before {
		top: 25px;
		left: -25px;
	}
	&__item:nth-child(2)::before {
		top: -25px;
		left: 25px;
	}

	&__item:nth-child(3)::before {
		top: -25px;
		left: -25px;
	}
	&__item:nth-child(4)::before {
		top: 25px;
		left: 25px;
	}
	&__item:nth-child(5)::before {
		top: -25px;
		left: -25px;
	}
	&__item:nth-child(6)::before {
		top: 25px;
		left: 25px;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		font-family: var(--first-font);
	}
	&__text {
		font-size: 1.6rem;
		line-height: 1.6em;
		// text-transform: uppercase;
		font-family: var(--second-font);
	}
}

.background {
	padding-block: 20em;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-image: url('../img/ConForm-Architects-8.jpeg');
}

.projects {
	display: grid;
	grid-template-columns: 350px;
	grid-auto-rows: 250px;
	justify-content: center;
	gap: 1em;

	&__img {
		transition: transform 1s;
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__img:hover {
		transform: scale(1.1);
	}
	&__item {
		width: 100%;
		position: relative;
		overflow: hidden;
		opacity: 0;
		transform: scale(0.1);
		animation: showProject 1s linear forwards;

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation-delay: $i * 0.3s;
			}
		}
	}

	@keyframes showProject {
		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	&__content {
		width: 100%;
		height: 100%;
		display: flex;
		gap: 2em;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		padding: 2em;
	}
	&__title {
		font-size: 2rem;
	}
	&__text {
		font-size: 1.6rem;
		text-align: center;
	}
}

.press {
	padding: 4em 2em;
	background-color: var(--bright-one);

	&__container {
		white-space: nowrap;
		overflow: hidden;
		position: relative;

		&::after {
			position: absolute;
			content: '';
			height: 100%;
			width: 50px;
			top: 0;
			left: 0;
			background: linear-gradient(90deg, var(--bright-one), rgba(255, 255, 255, 0));
			z-index: 2;
		}

		&::before {
			position: absolute;
			content: '';
			height: 100%;
			width: 50px;
			top: 0;
			right: 0;
			background: linear-gradient(270deg, var(--bright-one), rgba(255, 255, 255, 0));
			z-index: 2;
		}
	}

	&__slider {
		transition: background-color 0.3s;
		display: inline-block;
		mix-blend-mode: multiply;

		&--one {
			animation: 20s pressSlideOne infinite linear;
		}
		&--two {
			animation: 20s pressSlideTwo infinite linear;
		}
	}

	&__link {
		cursor: pointer;
		display: inline-block;
		margin: 0 2em;
	}

	&__logo {
		height: 150px;
		aspect-ratio: 1;
		object-fit: contain;
		margin: 0;
		padding: 0;
	}
}
.press__container:hover .press__slider {
	animation-play-state: paused;
}

@keyframes pressSlideOne {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
@keyframes pressSlideTwo {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

.contact {
	position: relative;
	&__container {
		display: grid;
		gap: 5em;
	}
	&__data {
		display: grid;
		grid-auto-flow: row;
		gap: 2em;
	}
	&__box {
		background-color: var(--bright-one);
		box-shadow: 0px 0px 5px var(--black);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 8px;
		padding: 2em;
	}

	&__icon {
		font-size: 3rem;
		margin-bottom: 0.5em;
		color: var(--green-two);
		text-shadow: 0px 0px 5px var(--black);
	}
	&__item {
		font-size: 1.4rem;
		font-family: var(--first-font);
	}
	.form {
		display: flex;
		flex-direction: column;
		gap: 1em;
		width: 100%;
		overflow: hidden;

		&__label {
			font-size: 1.6rem;
			font-family: var(--first-font);

			&--warning {
				font-weight: bold;
				color: var(--brown-two);
			}
		}

		&__input {
			font-family: var(--first-font);
			font-size: 1.6rem;
			padding: 0.5em;
			border-radius: 8px;
		}
		&__textarea {
			font-size: 1.6rem;
			font-family: var(--first-font);
			padding: 0.5em;
			border-radius: 8px;
			min-height: 200px;

			width: 100%;

			min-width: 100%;
			max-width: 100%;
		}

		&__btn {
			margin-top: 1em;
			font-family: var(--first-font);
			cursor: pointer;
			outline: none;
			font-size: 1.6rem;
			padding: 0.5em 1em;
			border-radius: 8px;
			border: none;
			background-color: var(--bright-one);
			transition: background-color 0.3s;
		}
		&__btn:hover {
			background-color: var(--green-two);
		}
	}

	.pop-up {
		position: absolute;
		z-index: 999999;

		left: 50%;
		top: -50%;
		opacity: 0;
		transform: translate(-50%, -50%);
		min-width: 300px;

		&__content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-color: var(--white);
			box-shadow: 0px 0px 10px var(--black);
			border-radius: 8px;
			padding: 2em;
		}

		&__text {
			font-size: 2rem;
			font-family: var(--first-font);
			text-align: center;
		}

		&--active {
			animation: showPopup 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
		}

		@keyframes showPopup {
			to {
				opacity: 1;
				top: 70%;
			}
		}
	}
}

.form__textarea {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
}

.footer {
	background-color: var(--green-one);
	padding: 4em 2em;

	&__container {
		display: grid;
		gap: 2em;
		grid-auto-flow: row;
		justify-items: center;
	}

	&__logo {
		outline: none;
		text-decoration: none;
		color: var(--black);
		font-family: var(--first-font);
		font-size: 2.2rem;
		font-weight: bold;
		cursor: pointer;
	}

	&__list {
		display: flex;
		list-style: none;
		gap: 1em;
		align-items: center;

		&--nav {
			flex-direction: column;
		}
		&--social {
			gap: 3em;
		}
	}

	&__link {
		outline: none;
		font-size: 2rem;
		text-decoration: none;
		color: var(---black);
		font-family: var(--first-font);
		transition: color 0.3s;
	}
	&__link:hover,
	&__link:focus,
	&__logo:hover,
	&__logo:focus {
		color: var(--bright-one);
	}

	&__icon {
		font-size: 2.5rem;
	}

	&__text {
		font-size: 1.6rem;
		color: var(--black);
		font-family: var(--first-font);
	}
}

@media (max-width: 768px) {
	.header {
		&__title{
			font-size: 2.8rem;
			line-height: 3rem;

		}


		.nav {
			&__btn {
				display: block;
			}

			&__list {
				position: fixed;
				z-index: 1000;
				inset: 0;

				background-color: rgba(0, 0, 0, 0.25);
				backdrop-filter: blur(0.5em);

				flex-direction: column;
				padding-inline: 4em;
				transition: transform 0.3s ease-out;

				transform: translateX(100%);
			}

			&__list[data-visible='true'] {
				transform: translateX(0);
			}

			&__item {
				opacity: 0;
				transform: translateX(100%);

				&--active {
					animation: showNavItems 0.5s forwards;
					
				}

				@keyframes showNavItems {
					to {
						opacity: 1;
						transform: translateX(0%);
					}
				}
			}

			&__link {
				color: var(--bright-one);
			}
			&__link::after {
				color: var(--bright-one);
			}

			&__link:hover,
			&__link:focus {
				color: var(--bright-one);
			}

			@for $i from 1 through 4 {
				&__item:nth-child(#{$i}) {
					animation-delay: 0.25s * $i;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.projects {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;

		&__item {
			aspect-ratio: 1;
		}
	}

	.press {
		&__container {
			&::after {
				width: 150px;
			}

			&::before {
				width: 150px;
			}
		}
	}

	.contact {
		&__data {
			grid-auto-flow: column;
		}
	}
}

@media (min-width: 768px) {
	.header {
		&__content {
			gap: 2em;
		}
	}

	.nav {
		&__link {
			padding: 0 0.5em;
			text-transform: unset;
			font-size: 2rem;
		}
	}

	.about {
		padding-inline: 6em;
		&__container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 8em 8em;
			grid-template-areas:
				'img1 text1'
				'text2 img2 '
				'img3 text3';
		}

		&__item {
			&--three {
				grid-area: img2;
			}
		}
	}

	.projects {
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 1fr;
		gap: 1em;

		&__item {
			aspect-ratio: 1;
		}
	}

	.press {
		&__container {
			&::after {
				width: 250px;
			}

			&::before {
				width: 250px;
			}
		}
	}

	.contact {
		&__container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-items: center;
			gap: 5em;
		}

		&__data {
			grid-auto-flow: row;
			align-content: center;
			width: 300px;
		}
	}

	.footer {
		padding: 4em 4em;
		&__container {
			grid-template-columns: repeat(2, 1fr);

			align-items: center;
			justify-items: start;
		}

		&__list {
			&--nav {
				place-self: end;
				flex-direction: row;
			}
		}
		&__text {
			place-self: end;
		}
	}
}

// @media (min-width: 992px) {
// 	.projects {
// 		gap: 2em;
// 	}
// }
